.form {
  border: 1px solid var(--dark_background);
  border-radius: 10px;
  padding: 1.5rem;
  width: 450px;
  .titleAndDesc {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    h2 {
      font-size: 25px;
      font-weight: 700;
    }
  }
  &.dark {
    border-color: var(--light_background);
  }
}

@media (max-width: 750px) {
  .form {
    width: 80%;
  }
}
