@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
}

:root {
  --light_text: #ffffff;
  --dark_text: #000000;
  --dark_background: #181818;
  --light_background: #eee;
  --system_background: rgb(35, 23, 83);
  --dark_container_background: #3f3f3f;
}
