.sectionList {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }
    a {
      margin-top: 1rem;
      text-align: center;
      cursor: pointer;
    }
  }
}

@media (max-width: 1350px) {
  .sectionList {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 900px) {
  .sectionList {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  .sectionList {
    grid-template-columns: 1fr;
  }
}
